<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='assets/img/favicon.ico') }}">
    <title>Health is Wealth</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/style.css') }}">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery-slimScroll/1.3.8/jquery.slimscroll.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.js"></script>
</head>

<body>
    <div class="main-wrapper">
        <div class="header">
            <div class="header-left">
                <a href="{{ url_for('dashboard') }}" class="logo">
                    <img src="{{url_for('static', filename='assets/img/logo.png')}}" width="35" height="35" alt=""> <span>Health is Wealth</span>
                </a>
            </div>
            <a id="toggle_btn" href="javascript:void(0);"><i class="fa fa-bars"></i></a>
            <a id="mobile_btn" class="mobile_btn float-left" href="#sidebar"><i class="fa fa-bars"></i></a>
            <ul class="nav user-menu float-right">
                <li class="nav-item dropdown has-arrow">
                    <a href="#" class="dropdown-toggle nav-link user-link" data-toggle="dropdown">
                        <span class="user-img">
							<img class="rounded-circle" src="{{url_for('static', filename='assets/img/user.jpg')}}" width="24" alt="Admin">
							<span class="status online"></span>
                        </span>
                        <span id="loggedUser">{{ username }}</span>
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="{{ url_for('editProfile') }}">Edit Profile</a>
                        <a class="dropdown-item" href="{{ url_for('loginPage') }}">Logout</a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="sidebar" id="sidebar">
            <div class="sidebar-inner slimscroll">
                <div id="sidebar-menu" class="sidebar-menu">
                    <ul>
                        <li class="menu-title">Main</li>
                        <li class="active">
                            <a href="{{ url_for('dashboard') }}"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a>
                        </li>

                        <li class="submenu">
                            <a href="#"><i class="fa fa-user-md"></i> <span>Dietician</span> <span class="menu-arrow"></span></a>
                            <ul style="display: none;">
                                <li><a href="{{ url_for('dietician') }}">All Dietician</a></li>
                                <li><a href="{{ url_for('myDietician') }}">My Dietician </a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="{{ url_for('foodRecommendation') }}"><i class="fa fa-cutlery"></i> <span>Food Recommendation</span></a>
                        </li>
                        <li>
                            <a href="{{ url_for('nearbyRestraunts') }}"><i class="fa fa-cutlery"></i> <span>Nearby Restaurant</span></a>
                        </li>
                        <li>
                            <a href="{{ url_for('enterMeal') }}"><i class="fa fa-cutlery"></i> <span>Enter your meal</span></a>
                        </li>
                        <li>
                            <a href="{{ url_for('calendar') }}"><i class="fa fa-calendar"></i> <span>Planout My Schedule</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="page-wrapper">
            <div class="content">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title d-inline-block">Nearby Restaurants</h4>
                            </div>
                            <div class="card-body p-0">
                                <div class="table-responsive">
                                    <table class="table mb-0">
                                        <thead class="d-none">
                                            <tr>
                                                <th>Patient Name</th>
                                                <th>Doctor Name</th>
                                                <th>Timing</th>
                                                <th class="text-right">Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for details in data %}
                                            <tr>
                                                <td style="min-width: 200px;">
                                                    <a class="avatar" href="#">Z</a>
                                                    <h2><a href="#">{{ details.name }}<span>Rating: {{ details.rating }} star</span></a></h2>
                                                </td>
                                                <td>
                                                    <h5 class="time-title p-0">Address</h5>
                                                    <p>{{ details.location }}</p>
                                                </td>
                                                <td>
                                                    <h5 class="time-title p-0">Timing</h5>
                                                    <p>8:00 AM - 10:00 PM</p>
                                                </td>
                                                <td class="text-right">
                                                    <a href="#" class="btn btn-outline-primary take-btn">View Menu</a>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{{ url_for('static', filename='assets/js/app.js') }}"></script>
</body>

</html>